{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {{ dump(consoles) }}
    
    <!-- table>(thead>tr>th*3)>(tbody>tr>td*3) -->
    <table border="3px solid black">
        <thead>
            <tr>
                <th>Nom produit</th>
                <th>Prix</th>
                <th>Image produit</th>
            </tr>
        </thead>
        <tbody>
            {% for console in consoles %}
            <tr>
                <td>{{ console.nom }}</td>
                <td>{{ console.prix|number_format(2,'.',' ') }} €</td>
                <td>{{ console.image }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}


