<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        {% block stylesheets %}
            <!-- CSS maison -->
            <link rel="stylesheet" href="{{asset('build/css/style.css')}}">
        {% endblock %}
    </head>
    <body>

        {% for message in app.flashes('Erreur') %} 
            <div class="alert alert-danger" id="errors" role="alert">
                {{ message }}
            </div>
        {% endfor %} 

        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <!-- JS Jquery -->
            <script src="{{asset('build/js/jquery-3.3.1.min.js')}}"></script>
            <!-- JS Bootstrap -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            {# Alert fade out #}
            <script>
                $(document).ready(function () {
                    setTimeout('$("#errors").fadeOut(1500)', 1500);
                });
            </script>
        {% endblock %}
    </body>
</html>
