<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
        <div class="erreurs">
           {% for message in app.flashes('Erreur') %} 
               <mark>Fatal error : {{ message }}</mark>
           {% endfor %} 
        </div>
        
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
